.header {
  position: absolute;
  background-color: var(--additional-100);
  color: var(--white-100);
  width: 100%;
}

.header__container {
  @include container;
  position: relative;
  margin-inline: auto;
  padding: 15px;
  display: grid;

  @media #{$not-mobile} {
    padding: 20px 45px;
    grid-template-columns: repeat(3, 226px);
    align-items: center;
  }

  @media #{$desktop-only} {
    grid-template-columns: 205px 838px 1fr;
  }
}

.header__logo {
  justify-self: end;
  margin-bottom: 14px;

  &[aria-current="page"] {
    pointer-events: none;
  }

  @media #{$not-mobile} {
    justify-self: center;
    grid-column: 2/3;
    margin: 0;
  }

  @media #{$desktop-only} {
  grid-column: 1/2;
  }
}

.header__logo img {
  object-fit: cover;
  width: 142px;
  height: 42px;
}

.header__navigation {
  order: 1;

  @media #{$desktop-only} {
    order: 0;
  }
}

.header__toggle {
  position: absolute;
  display: grid;
  place-items: center;
  inline-size: 30px;
  block-size: 30px;
  inset-block-start: 15px;
  inset-inline-start: 15px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease;

  &::before,
  &::after {
    position: absolute;
    content: "";
    width: 24px;
    height: 2px;
    background-color: #ffffff;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  @media #{$not-mobile} {
    inset-block-start: 20px;
    inset-inline-start: 45px;
  }

  @media #{$desktop-only} {
    display: none;
  }
}

.header__navigation-list {
  @include reset-list;
  padding: 27px 0;
  display: grid;
  gap: 16px;

  @media #{$not-mobile} {
    gap: 20px;
    padding: 47px 0;
  }

  @media #{$desktop-only} {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

.header__navigation-list--close {
  @media #{$not-desktop} {
    display: none;

    ~ .header__toggle {
      transition: transform 0.2s ease;
    }

    ~ .header__toggle::before {
      content: "";
      position: absolute;
      width: 26px;
      height: 2px;
      background-color: #ffffff;
      box-shadow: 0 18px 0 0 #ffffff;
      transform: rotate(0);
    }

    ~ .header__toggle::after {
      width: 20px;
      transform: translate(-3px, 9px) rotate(0);
    }
  }
}

.header__navigation-link {
  @include link;
  @include button-big;
  padding: 3px 0;

  @media #{$desktop-only} {
    font-weight: var(--font-weight, 400);
    text-transform: none;
  }
}

.header__phone {
  @include link;
  font-weight: var(--font-weight-semibold, 600);
  justify-self: end;

  @media #{$not-mobile} {
    font-size: 18px;
  }
}
