.hero {
  padding-top: 100px;
  color: var(--white-100);
}

.hero__container {
  @include container;
  overflow: hidden;
  margin-inline: auto;
}

.hero__list {
  @include reset-list;
  display: grid;
  grid-template-columns: repeat(3, 320px);
}

.hero__item {
  padding: 150px 20px;
  position: relative;
  text-align: center;
}

.hero__image-wrapper {
  @include container;
  position: absolute;
  content: '';
  width: 320px;
  height: 568px;
  inset-block-start: 0;
  inset-inline-start: 0;
  z-index: -1;
}

.hero__item-title {
  @include title-h2;
}

.hero__item-description {
  @include text-big;
}

.hero__item-button {
  @include button;
  background-color: var(--additional-100);
  border-color: transparent;
  width: 180px;
}

.hero__pagination {
  position: absolute;
  text-align: center;
}

.hero__pagination * {
  border: solid 1px var(--white-100);
}

.hero__item-mark {
  display: none;
}
