.page {
  width: 100%;
  height: 100%;
}

.page__body {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0;
  height: 100%;
  min-width: 320px;
  min-height: 100%;
  font-family: var(--font-family, "Montserrat", "Arial", sans-serif);
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  color: var(--primary, #2d383f);

  &::-webkit-scrollbar {
    width: 0;
  }
}

.page__body:not(:has(.header__navigation-list--close)) {
  @media #{$not-desktop} {
    overflow: hidden;
    margin-right: 17px;

    &::before {
      position: absolute;
      content: "";
      background: rgba(45, 56, 63, 0.6);
      inset: 0;
    }
  }
}

.page__body main {
  padding-top: 100px;
  flex-grow: 1;
  background-image: url("../../img/background-images/tours-background-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: right -204px top 677px;

  @media #{$not-mobile} {
    padding-top: 82px;
    background-image: url("../../img/background-images/tours-background-tablet@1x.png");
    background-position: left 343px top 1024px;
  }

  @media #{$desktop-only} {
    padding-top: 126px;
    background-image: url("../../img/background-images/tours-background-desktop@1x.png");
    background-position: right 0 top 800px;
  }
}
