.reviews {
  overflow: hidden;
}

.reviews__container {
  padding-block: 21px;
  width: $breakpoint-mobile;
  margin-inline: auto;

  @media #{$not-mobile} {
    padding-block: 40px;
    width: $breakpoint-tablet;
  }

  @media #{$desktop-only} {
    padding-block: 100px;
    width: $breakpoint-desktop;
  }
}

.reviews__slider {
  @include slider($slider-s-mobile, $slider-s-tablet, 1190px);
  overflow: visible;

  @media #{$desktop-only} {
    padding-left: 5px;
  }
}

.reviews__slider-wrapper {
  padding-inline: 15px;
  margin-bottom: 15px;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 10px;
  align-items: center;

  @media #{$not-mobile} {
    padding-inline: 45px;
    margin-bottom: 25px;
    align-items: end;
  }

  @media #{$desktop-only} {
    padding : 47px 120px 0;
    margin-bottom: 38px;
  }
}

.reviews__slider-control {
  @include slider-control;

  @media #{$desktop-only} {
    align-self: start;
  }
}

.reviews__button {
  @include slider-buttons;
}

.reviews__title {
  @include title-h3;
  @include title-shadow;
  margin-block: 16px;
  position: relative;

  @media #{$not-mobile} {
    margin-block: 20px 10px;
  }

  @media #{$desktop-only} {
    margin: 0;
  }
}

.reviews__list {
  @include reset-list;

  display: grid;
  grid-template-columns: repeat(4, $slider-s-mobile);
  gap: 30px;

  @media #{$not-mobile} {
    grid-template-columns: repeat(4, 565px);
    gap: 30px;
  }

  @media #{$desktop-only} {
    grid-template-columns: repeat(4, 700px);
    gap: 120px;
  }
}

.reviews__item {
  padding: 20px;
  box-shadow: 0 0 20px 0 rgba(28, 51, 116, 0.1);
  height: min-content;

  @media #{$not-mobile} {
    display: grid;
    grid-template-columns: 186px auto;
    gap: 30px;
  }

  @media #{$desktop-only} {
    display: grid;
    grid-template-columns: 258px auto;
    gap: 30px;
  }
}

.reviews__item div:has(img) {
  width: 250px;
  height: auto;

  @media #{$not-mobile} {
    width: 186px;
  }

  @media #{$desktop-only} {
    width: 258px;
  }
}

.reviews__item div:has(img) img {
  display: block;
}

.reviews__item div:not(:has(img)) {
  padding-top: 7px;

  @media #{$not-mobile} {
    padding-top: 5px;
  }

  @media #{$desktop-only} {
    padding-top: 0;
  }
}

.reviews__item p {
  font-weight: var(--font-weight, 400);
  font-size: 12px;
  line-height: 1.5;

  @media #{$not-mobile} {
    margin-block: 0 10px;
  }

  @media #{$desktop-only} {
    font-size: 14px;
    line-height: 1.57;
  }
}

.reviews__item h3 {
  padding-top: 3px;
  font-weight: var(--font-weight-bold, 700);
  font-size: 12px;

  @media #{$not-mobile} {
    @include caption-big;
    margin-block: 0 4px;
    padding-top: 14px;
  }

  @media #{$desktop-only} {
    padding-top: 0;
    margin-block: -7px 6px;
  }
}

.reviews__item span {
  @include caption-light;
}
