.tours__slider {
  @include slider($slider-s-mobile, $slider-s-tablet, $slider-s-desktop);

  padding-block: 21px;

  @media #{$not-mobile} {
    padding-block: 35px 40px;
  }

  @media #{$desktop-only} {
    padding-block: 100px;
  }
}

.tours__title {
  @include title-h3;
  @include title-shadow;

  margin-bottom: 39px;
  position: relative;

  @media #{$not-mobile} {
    padding: 0;
    margin: 25px 0 35px;
  }

  @media #{$desktop-only} {
    margin: 3px 0 0;
  }
}

.tours__title-wrapper {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 10px;
  align-items: center;

  @media #{$desktop-only} {
    padding: 20px 0 50px;
  }
}

.tours__list {
  @include reset-list;

  display: grid;
  grid-template-columns: repeat(4, $breakpoint-mobile);

  @media #{$not-mobile} {
    grid-template-columns: repeat(4, 348px);
    margin-bottom: 26px;
  }

  @media #{$desktop-only} {
    grid-template-columns: repeat(4, 410px);
    margin-bottom: 54px;
  }
}

.tours__item {
  position: relative;
  display: grid;
  place-items: end center;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 62%, rgba(0, 0, 0, 0) 100%);
    opacity: 0.3;

    @media #{$not-mobile} {
      background: linear-gradient(0deg, rgba(0, 0, 0, 1) 25%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0) 100%);
      opacity: 0.7;
    }

    @media #{$desktop-only} {
      background: linear-gradient(0deg, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
      opacity: 0.3;
    }
  }
}

.tours__content {
  padding: 28px 20px;
  color: var(--white-100, #ffffff);
  grid-area: 1/1;
  z-index: 1;
}

.tours__img {
  grid-area: 1/1;
}

.tours__img img {
  display: block;
  width: 290px;
  height: 416px;
  object-fit: cover;

  @media #{$not-mobile} {
    width: 330px;
  }

  @media #{$desktop-only} {
    width: 380px;
  }
}

.tours__info-list {
  @include reset-list;
  @include caption;

  display: grid;
  grid-template-columns: 90px 1fr;
  justify-content: center;

  @media #{$not-mobile} {
    grid-template-columns: auto 1fr;
  }
}

.tours__info-item span {
  display: flex;
  gap: 11px;
  place-items: center;

  &::before {
    display: block;
    content: "";
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
  }
}

.tours__info-item {
  display: flex;
  gap: 6px;

  @media #{$not-mobile} {
    gap: 9px;
  }

  &::before {
    display: block;
    content: "";
    background-repeat: no-repeat;
  }
}

.tours__info-item--place {
  padding: 8px 15px;
  gap: 8px;
  background-color: var(--additional-100, #0266c1);

  &::before {
    width: 9px;
    height: 12px;
    background: url("/__spritemap#sprite-pin-icon-view");
  }

  @media #{$not-mobile} {
    padding: 8px 14px 8px 16px;
  }
}

.tours__info-item--duration {
  justify-content: end;
}

.tours__info-item--duration span:first-child {
  gap: 10px;
  margin-right: 9px;

  @media #{$not-mobile} {
    padding: 0;
    margin-right: 7px;
    gap: 12px;
  }
}

.tours__info-item--duration span:first-child::before {
  width: 20px;
  height: 20px;
  background: url("/__spritemap#sprite-duration-sun-view");
}

.tours__info-item--duration span:last-child::before {
  background: url("/__spritemap#sprite-duration-moon-view");
  margin-right: 4px;
}

.tours__info-title {
  @include title-h4;

  margin-block: 15px;
  padding-bottom: 15px;
  position: relative;

  &::before {
    position: absolute;
    bottom: 0;
    content: "";
    width: 80px;
    height: 1px;
    background-color: var(--white-100, #ffffff);
    opacity: 0.2;
  }

  @media #{$not-mobile} {
    margin: 16px 0 14px;
    padding-bottom: 16px;
  }

  @media #{$desktop-only} {
    padding-right: 35px;
  }
}

.tours__details {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: flex-end;

  @media #{$not-mobile} {
    gap: 27px;
    justify-content: space-around;
  }

  @media #{$desktop-only} {
    gap: 52px;
  }
}

.tours__detail-meaning:has(svg) {
  padding-block: 0;
}

.tours__detail-title {
  @include caption-light;

  margin-bottom: 4px;
}

.tours__detail-meaning {
  @include caption-big;

  margin: 0;
  padding-block: 2px;
}

.tours__slider-control {
  @include slider-control;
}

.tours__button {
  @include slider-buttons;
}

.tours__link {
  @include link;
  @include button-big;

  padding: 35px 15px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  &::after {
    content: "";
    width: 10px;
    height: 10px;
    border: solid 2px var(--primary, #2d383f);
    border-top: transparent;
    border-left: transparent;
    transform: rotate(-45deg);
    flex-shrink: 0;
  }

  @media #{$not-mobile} {
    padding: 10px;
  }

  &:focus-visible {
    outline: none;
    color: var(--additional-100, #0266c1);

    &::after {
      border-color: var(--additional-100, #0266c1);
    }
  }

  &:hover {
    color: var(--additional-20, rgba(2, 102, 193, 0.2));

    &::after {
      border-color: var(--additional-20, rgba(2, 102, 193, 0.2));
    }
  }

  &:active {
    color: var(--active, #1c3374);

    &::after {
      border-color: var(--active, #1c3374);
    }
  }

  &:not([href]) {
    color: var(--disabled, #999999);
    pointer-events: none;

    &::after {
      border-color: var(--disabled, #999999);
    }
  }
}
