.tours__container {
  width: 290px;
  overflow: hidden;
  margin-inline: auto;
  padding-block: 21px;

  @media #{$not-mobile} {
    width: 678px;
  }

  @media #{$desktop-only} {
    width: 1200px;
  }
}

.tours__title {
  @include title-h3;
  margin-bottom: 39px;
  position: relative;

  &::before {
    @include title-h2;
    position: absolute;
    top: -18px;
    content: attr(data-title);
    opacity: 0.03;
  }

  @media #{$not-mobile} {
    padding: 0;
  }
}

.tours__title-wrapper {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 10px;
  align-items: center;
}

.tours__list {
  @include reset-list;
  display: grid;
  grid-template-columns: repeat(4, $breakpoint-mobile);

  @media #{$not-mobile} {
    grid-template-columns: repeat(4, 348px);
  }

  @media #{$desktop-only} {
    grid-template-columns: repeat(4, 410px);
  }
}

.tours__item {
  position: relative;
  display: grid;
  place-items: end center;

  &::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 62%, rgba(0, 0, 0, 0) 100%);
    opacity: 0.4;
  }
}

.tours__content {
  padding: 28px 20px;
  color: var(--white-100);
  grid-area: 1/1;
  z-index: 1;
}

.tours__img {
  grid-area: 1/1;
}

.tours__img img {
  display: block;
  width: 290px;
  height: 416px;
  object-fit: cover;
}

.tours__info-list {
  @include reset-list;
  @include caption;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

.tours__info-item {
  display: flex;
  gap: 15px;
  place-items: center;

  &::before {
    display: block;
    content: '';
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
  }

  &--place {
    padding: 8px 15px;
    gap: 8px;
    background-color: var(--additional-100);

    &::before {
    width: 9px;
    height: 12px;
    background: url('/__spritemap#sprite-pin-icon-view');
    }
  }

  &--days {
    gap: 10px;
    padding-right: 11px;
  }

  &--days::before {
    width: 20px;
    height: 20px;
    background: url('/__spritemap#sprite-duration-sun-view');
  }

  &--night::before {
    background: url('/__spritemap#sprite-duration-moon-view');
  }
}

.tours__info-title {
  @include title-h4;
  margin-block: 15px;
  padding-bottom: 15px;
  position: relative;

  &::before {
    position: absolute;
    bottom: 0;
    content: '';
    width: 80px;
    height: 1px;
    background-color: var(--white-100);
    opacity: 0.2;
  }
}

.tours__details {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: flex-end;
}

.tours__detail-meaning:has(svg) {
  padding-block: 0;
}

.tours__detail-title {
  @include caption-light;
  margin-bottom: 4px;
}

.tours__detail-meaning {
  @include caption-big;
  margin: 0;
  padding-block: 2px;
}

.tours__slider-control {
  display: none;
  grid-template-columns: repeat(2, 37px);
  gap: 5px;
  justify-content: end;
  opacity: 0;

  @media #{$not-mobile} {
    display: grid;
    opacity: 1;
  }
}

.tours__button {
  display: grid;
  place-items: center;
  background-color: var(--additional-100);
  border-color: transparent;
  width: 37px;
  height: 35px;
  pointer-events: none;

  &::before {
    content: '';
    width: 14px;
    height: 1px;
    background-color: var(--white-100);
    transform: translateX(-2px);
  }

  &::after {
    position: absolute;
    content: '';
    width: 9px;
    height: 9px;
    border: solid 1px var(--white-100);
    border-top: transparent;
    border-left: transparent;
    transform: rotate(-45deg);
  }

  @media #{$not-mobile} {
    cursor: pointer;
    pointer-events: auto;
  }
}

.tours__link {
  @include link;
  @include button-big;
  padding: 35px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  &::after {
    content: '';
    width: 10px;
    height: 10px;
    border: solid 2px var(--primary);
    border-top: transparent;
    border-left: transparent;
    transform: rotate(-45deg);
    flex-shrink: 0;
  }
}
