@mixin container {
  width: $breakpoint-mobile;

  @media #{$not-mobile} {
    width: $breakpoint-tablet;
  }

  @media #{$desktop-only} {
    width: $breakpoint-desktop;
  }
}

@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin link {
  display: block;
  font-family: inherit;
  text-decoration: none;
  color: inherit;
}

@mixin title-h1 {
  font-weight: var(--font-weight-extrabold, 800);
  font-size: 30px;

  @media #{$not-mobile} {
    font-size: 56px;
  }

  @media #{$desktop-only} {
    font-size: 77px;
  }
}

@mixin title-h2 {
  font-weight: var(--font-weight-extrabold, 800);
  font-size: 26px;

  @media #{$not-mobile} {
    font-size: 40px;
  }

  @media #{$desktop-only} {
    font-size: 55px;
  }
}

@mixin title-h3 {
  font-weight: var(--font-weight-extrabold, 800);
  font-size: 22px;

  @media #{$not-mobile} {
    font-size: 25px;
  }

  @media #{$desktop-only} {
    font-size: 35px;
  }
}

@mixin title-h4 {
  font-weight: var(--font-weight-bold, 700);
  font-size: 24px;
  line-height: 1.17;
}

@mixin title-h5 {
  font-weight: var(--font-weight-bold, 700);
  font-size: 16px;

  @media #{$not-mobile} {
    font-size: 18px;
  }

  @media #{$desktop-only} {
    font-size: 21px;
  }
}

@mixin title-h6 {
  font-weight: var(--font-weight-semibold, 600);

  @media #{$not-mobile} {
    font-size: 16px;
  }

  @media #{$desktop-only} {
    font-size: 18px;
  }
}

@mixin title-h7 {
  font-weight: var(--font-weight-bold, 700);
  line-height: 1.14;
}

@mixin text-big {
  font-weight: var(--font-weight, 400);
  font-size: 15px;
  line-height: 1.33;

  @media #{$not-mobile} {
    font-size: 17px;
    line-height: 1.41;
  }
}

@mixin text {
  font-weight: var(--font-weight, 400);
  line-height: 1.43;

  @media #{$not-mobile} {
    font-size: 16px;
    line-height: 1.5;
  }
}

@mixin text-small {
  font-weight: var(--font-weight, 400);
  font-size: 12px;
  line-height: 1.5;

  @media #{$not-mobile} {
    font-size: 14px;
    line-height: 1.57;
  }
}

@mixin text-xs {
  font-weight: var(--font-weight, 400);
  font-size: 12px;
  line-height: 1.33;
}

@mixin caption-big {
  font-weight: var(--font-weight-bold, 700);
  font-size: 13px;
}

@mixin caption {
  font-weight: var(--font-weight-medium, 500);
  font-size: 12px;
}

@mixin caption-light {
  font-weight: var(--font-weight-light, 300);
  font-size: 12px;
}

@mixin button-big {
  font-family: var(--font-family, inherit);
  font-weight: var(--font-weight-bold, 700);
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  @media #{$not-mobile} {
    font-size: 16px;
  }
}

@mixin button-medium {
  font-family: var(--font-family, inherit);
  font-weight: var(--font-weight-medium, 500);
  font-size: 16px;
  line-height: 1;
  text-align: center;
}

@mixin button {
  padding: 20px;
  color: inherit;
  font-family: var(--font-family, inherit);
  font-weight: var(--font-weight, 400);
  font-size: 16px;
  line-height: 1;

  @media #{$not-mobile} {
    padding: 19px;
  }

  @media #{$desktop-only} {
    padding: 20px;
  }
}

@mixin title-shadow {
  &::before {
    @include title-h2;
    position: absolute;
    top: -18px;
    content: attr(data-title);
    opacity: 0.03;

    @media #{$not-mobile} {
      top: -16px;
    }
  }
}

@mixin slider-control {
  display: none;
  grid-template-columns: repeat(2, 37px);
  gap: 5px;
  justify-content: end;
  opacity: 0;

  @media #{$not-mobile} {
    display: grid;
    opacity: 1;
    gap: 4px;
  }
}

@mixin slider-buttons {
  display: grid;
  place-items: center;
  background-color: var(--additional-100);
  border-color: transparent;
  width: 37px;
  height: 35px;
  cursor: pointer;

  &::before {
    content: '';
    width: 13px;
    height: 1px;
    background-color: var(--white-100);
  }

  &::after {
    position: absolute;
    content: '';
    width: 6px;
    height: 6px;
    border: solid 1px var(--white-100);
    border-top: transparent;
    border-left: transparent;
    transform: translateX(2px) rotate(-45deg);
  }

  &--prev {
    transform: rotate(180deg);
  }

  &:disabled {
    background-color: #999999;
  }
}
