$breakpoint-mobile: 320px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1440px;
$breakpoint-gap: 0.02px;
$mobile-only: "(max-width: #{$breakpoint-tablet - $breakpoint-gap})";
$tablet-only: "(min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-desktop - $breakpoint-gap})";
$desktop-only: "(min-width: #{$breakpoint-desktop})";
$not-mobile: "(min-width: #{$breakpoint-tablet})";
$not-desktop: "(max-width: #{$breakpoint-desktop - $breakpoint-gap})";
$mobile-tablet: "(min-width: #{$breakpoint-mobile + $breakpoint-gap})";
$tablet-desktop: "(min-width: #{$breakpoint-tablet + $breakpoint-gap})";
$slider-s-mobile: 290px;
$slider-s-tablet: 678px;
$slider-s-desktop: 1200px;
